<div class="col-md-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="emitAction('listPeople')" type="button"  class="btn btn-outline-primary">People</button>
        <button (click)="emitAction('listCharacterFrequency')" type="button" class="btn btn-outline-secondary">Characters Frequency</button>
        <button (click)="emitAction('listSimilarEmails')" type="button" class="btn btn-outline-info">Similar emails</button>
    </div>
</div>